---
http_interactions:
- request:
    method: get
    uri: https://stage.validators.app/api/v1/commission-changes/testnet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"51176a78265c7b4231cc0c0383b7c124"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"commission_histories":[{"created_at":"2022-03-25T09:45:03.640Z","commission_before":null,"commission_after":100.0,"epoch":302,"network":"testnet","id":269280,"epoch_completion":7.19,"batch_uuid":"05a7dd1a-21ab-4526-b8d4-7ab4a1b31483","account":"2m6u5GuThX4mjoJT5FYEokHpkvZPo53XXJvtU3JpWxAx","name":null},{"created_at":"2022-03-25T09:45:03.629Z","commission_before":null,"commission_after":100.0,"epoch":302,"network":"testnet","id":269279,"epoch_completion":7.19,"batch_uuid":"05a7dd1a-21ab-4526-b8d4-7ab4a1b31483","account":"35JSchpXQVtZH6GLbXgoRoAqZqEhDuRPHeKqspYGXRPV","name":null},{"created_at":"2022-03-25T08:20:39.045Z","commission_before":null,"commission_after":100.0,"epoch":302,"network":"testnet","id":269277,"epoch_completion":5.07,"batch_uuid":"49cfb40a-b2c8-4c7a-8e65-20897ba360e4","a[...]
