---
http_interactions:
- request:
    method: get
    uri: https://stage.validators.app/api/v1/sol-prices?exchange=coin_gecko
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"88ac3e1c1c232c32d1cff4526c52cc55"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1269,"exchange":"coin_gecko","currency":"usd","epoch_mainnet":283,"epoch_testnet":291,"open":null,"close":null,"high":null,"low":null,"volume":"1316252928.33416","datetime_from_exchange":"2022-02-27T00:00:00.000Z","created_at":"2022-02-28T00:10:04.821Z","updated_at":"2022-02-28T00:10:04.821Z","average_price":"90.10798522206623"},{"id":1272,"exchange":"coin_gecko","currency":"usd","epoch_mainnet":284,"epoch_testnet":292,"open":null,"close":null,"high":null,"low":null,"volume":"1559328417.424525","datetime_from_exchange":"2022-02-28T00:00:00.000Z","created_at":"2022-03-01T00:10:04.308Z","updated_at":"2022-03-01T00:10:04.308Z","average_price":"85.56819666616444"},{"id":1274,"exchange":"coin_gecko","currency":"usd","epoch_mainnet":284,"epoch_testnet":292,"open":null,"close":null,"high":null,"low":null,"[...]
