---
http_interactions:
- request:
    method: get
    uri: https://stage.validators.app/api/v1/commission-changes/testnet?page=2&per=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"2e41995432ca4d4073118f936d1bffb1"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"commission_histories":[{"created_at":"2022-03-27T18:12:45.519Z","commission_before":null,"commission_after":100.0,"epoch":302,"network":"testnet","id":269298,"epoch_completion":94.07,"batch_uuid":"4253e720-8267-4cf4-a61a-a1613adaebd4","account":"7bAFVtFKM9XzNoJH9Tr5YD791EhuozT29eA8mAp64Qg5","name":null},{"created_at":"2022-03-27T15:00:59.799Z","commission_before":100.0,"commission_after":0.0,"epoch":302,"network":"testnet","id":269297,"epoch_completion":89.07,"batch_uuid":"215cfc31-8486-4c13-8787-f46d63f9074f","account":"EicET7E1Qj5b9NAFU5WgAVbjwxxiAxGchAea9dj1XsDD","name":null},{"created_at":"2022-03-26T22:44:21.912Z","commission_before":null,"commission_after":100.0,"epoch":302,"network":"testnet","id":269296,"epoch_completion":64.16,"batch_uuid":"e00e73f8-89ca-47c6-a485-b6c8748e09b7","account":"4ba2dRU1jFqvGR2ndk2gGPQPQYM62i7fEK5X42gvm3cS","name":null},{"created_at":"2022-03-26T21:22:40.717Z","commission_before":null,"commission_after":100.0,"epoch":302,"network":"testnet","id":269295,"epoch_completion":61.94,"batch_uuid":"2dd8c629-2da3-48c9-92a2-349276c8f0fe","account":"2MH8dkqsk7GQfcDZzFo5orG2H7cyQnxFNf3WZo7WSuho","name":null},{"created_at":"2022-03-26T13:17:50.394Z","commission_before":null,"commission_after":100.0,"epoch":302,"network":"testnet","id":269293,"epoch_completion":49.65,"batch_uuid":"7bab4a65-92a8-4a36-9238-59e2c88a6f47","account":"8WrPsNcofrTCP5nCZRU9rZgzMbpz3wENBKipTxyZVbYW","name":null}],"total_count":165}'
  recorded_at: Mon, 28 Mar 2022 08:01:03 GMT
recorded_with: VCR 6.1.0
