---
http_interactions:
- request:
    method: get
    uri: https://stage.validators.app/api/v1/validator-block-history/mainnet/DDnAqxJVFo2GVTujibHt5cjevHMSE9bo8HJaydHoshdp?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"14ba4ea9d75bec8eeec1520ce2eba09e"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"epoch":293,"leader_slots":240,"blocks_produced":239,"skipped_slots":1,"skipped_slot_percent":"0.0042","created_at":"2022-03-25T10:53:36.903Z","batch_uuid":"a7adcb0c-16ff-4bef-a145-f3e81e414a5d"},{"epoch":293,"leader_slots":236,"blocks_produced":235,"skipped_slots":1,"skipped_slot_percent":"0.0042","created_at":"2022-03-25T10:51:03.129Z","batch_uuid":"e1e21edb-3e71-40c6-8747-a451cfa33627"},{"epoch":293,"leader_slots":232,"blocks_produced":231,"skipped_slots":1,"skipped_slot_percent":"0.0043","created_at":"2022-03-25T10:48:21.864Z","batch_uuid":"13871ce5-3a3b-40e9-973f-c55c6a0a6499"},{"epoch":293,"leader_slots":232,"blocks_produced":231,"skipped_slo[...]
