---
http_interactions:
- request:
    method: get
    uri: https://stage.validators.app/api/v1/validators/testnet?limit=5&order=name&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"d129043790cfebaf6ba19f6e54f1a954"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"network":"testnet","account":"ATtMQ3Aphrc9X2SeTJD9JWbcDJfn5aJs4NHWSknxfNb7","name":null,"keybase_id":null,"www_url":null,"details":null,"avatar_url":null,"created_at":"2021-04-16
        14:03:01 UTC","updated_at":"2022-03-21 01:50:33 UTC","admin_warning":null,"active_stake":24622872585639,"authorized_withdrawer_score":-2,"commission":100,"data_center_concentration_score":null,"delinquent":true,"published_information_score":0,"root_distance_score":2,"security_report_score":0,"skipped_slot_score":0,"software_version":"1.9.6","software_version_score":0,"stake_concentration_score":0,"total_score":2,"vote_distance_score":2,"data_center_key":"201814-PL-Europe/Warsaw","autonomous_system_number":201814,"latitude":"52.2394","longitude":"21.0362","data_center_host":null,"vote_account":"9m5uCQRmoU5F4nSpDxTnh4qpjDfaH5mSypfn1pqbLPbV","epoch_credits":0,"epoch":301,"skipped_slots":16,"skipped_slot_percent":"1.0","ping_time":null,"url":"https://stage.validators.app/api/v1/validators/testnet/ATtMQ3Aphrc9X2SeTJD9JWbcDJfn5aJs4NHWSknxfNb7"},{"network":"testnet","account":"AtUD8QwodrRPdHXhEH8ZUkXkSZwe6eVaQbsfJYCarcLs","name":null,"keybase_id":null,"www_url":null,"details":null,"avatar_url":null,"created_at":"2021-05-14
        14:39:10 UTC","updated_at":"2022-03-21 01:50:36 UTC","admin_warning":null,"active_stake":1976888320,"authorized_withdrawer_score":-2,"commission":100,"data_center_concentration_score":null,"delinquent":true,"[...]
