---
http_interactions:
- request:
    method: get
    uri: https://stage.validators.app/api/v1/epochs/testnet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"be5b873ec5ca5094add4c7ab4e0cb44f"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"epochs":[{"epoch":302,"starting_slot":124940256,"slots_in_epoch":432000,"network":"testnet","created_at":"2022-03-25T05:00:28.000Z"},{"epoch":301,"starting_slot":124508260,"slots_in_epoch":432000,"network":"testnet","created_at":"2022-03-22T10:41:04.000Z"},{"epoch":300,"starting_slot":124076256,"slots_in_epoch":432000,"network":"testnet","created_at":"2022-03-19T19:11:46.000Z"},{"epoch":299,"starting_slot":123644260,"slots_in_epoch":432000,"network":"testnet","created_at":"2022-03-17T05:32:35.000Z"},{"epoch":298,"starting_slot":123212256,"slots_in_epoch":432000,"network":"testnet","created_at":"202[...]
