---
http_interactions:
- request:
    method: get
    uri: https://stage.validators.app/api/v1/stake-accounts/testnet?page=2&per=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"face7ff92a657800e80d1b48315386ec"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"stake_accounts":[{"created_at":"2022-02-02T20:17:37.096Z","activation_epoch":232,"active_stake":1000000,"delegated_stake":1000000,"network":"testnet","delegated_vote_account_address":"362XLfS4oYSbYiDt9MgL8XMpMtnSUpqhdmPma9QsG5xs","id":1324003,"stake_pubkey":"3YPE8coQKDJMLn8Ltq1Lu2cC3aS5y8nvYAxsErEkHHoZ","batch_uuid":"3caf112f-f90b-468b-af79-0e6a8aac6777","stake_pool_id":4,"staker":"25jjjw9kBPoHtCLEoWu2zx6ZdXEYKPUbZ6zweJ561rbT","withdrawer":"25jjjw9kBPoHtCLEoWu2zx6ZdXEYKPUbZ6zweJ561rbT","pool_name":"Jpool","validator_name":"Alexandru
        Rusu","validator_account":"6UfQVpJKcGT3Cmo5DvUkrDEu9ucHbR3Y3XCs8R1wyNnM","validator_active_stake":52469928322747},{"created_at":"2022-02-02T20:17:37.104Z","activation_epoch":232,"active_stake":2000025916767,"delegated_stake":2000025916767,"network":"testnet","delegated_vote_account_address":"CjisQVHr37eR2Mgmb7YyzgHsH7mN2i7qp99PoXmKSNv1","id":1324004,"stake_pubkey":"HGpSJaFVP2i1rgy9nCMa3Dx9Bora4STL6KdfYR84vq1","batch_uuid":"3caf112f-f90b-468b-af79-0e6a8aac6777","stake_pool_id":4,"staker":"25jjjw9kBPoHtCLEoWu2zx6ZdXEYKPUbZ6zweJ561rbT","withdrawer":"25jjjw9kBPoHtCLEoWu2zx6ZdXEYKPUbZ6zweJ561rbT"[...]
