---
http_interactions:
- request:
    method: get
    uri: https://stage.validators.app/api/v1/validator-block-history/mainnet/DDnAqxJVFo2GVTujibHt5cjevHMSE9bo8HJaydHoshdp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"a46e47338c05f60a3953c1b8d8bdc60d"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"epoch":293,"leader_slots":228,"blocks_produced":227,"skipped_slots":1,"skipped_slot_percent":"0.0044","created_at":"2022-03-25T10:43:32.270Z","batch_uuid":"067b6ee6-f9b1-4e5b-80d5-61ed26843558"},{"epoch":293,"leader_slots":212,"blocks_produced":211,"skipped_slots":1,"skipped_slot_percent":"0.0047","created_at":"2022-03-25T10:36:44.629Z","batch_uuid":"0dbd206c-c5ed-4799-a4e2-1532e74de67a"},{"epoch":293,"leader_slots":208,"blocks_produced":207,"skipped_slots":1,"skipped_slot_percent":"0.0048","created_at":"2022-03-25T10:33:56.851Z","batch_uuid":"28fb4db6-16b3-4bcb-a528-b47fd92a7a83"},{"epoch":293,"leader_slots":208,"blocks_produced":207,"skipped_slo[...]
