---
http_interactions:
- request:
    method: post
    uri: https://stage.validators.app/api/v1/ping-thing-batch/testnet
    body:
      encoding: UTF-8
      string: '{"transactions":[{"application":"cli","commitment_level":"finished","signature":"tested_signature","reported_at":"2022-03-28T10:30:39+02:00","success":true,"time":123,"transaction_type":"transfer"}]}'
    headers:
      Content-Type:
      - application/json
      Token:
      - "<API_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - W/"5c15461069e69109955c72671ffc465d"
      Status:
      - 201 Created
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"created"}'
  recorded_at: Mon, 28 Mar 2022 08:30:39 GMT
recorded_with: VCR 6.1.0
